* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 15px 0px;
  line-height: 25px;
}

/*========================================
*
*           Header
*
*
*=========================================*/

header {
  background: black;
  position: fixed;
  left: 0;
  right: 0;
  padding: 10px 0;
}

header nav ul li {
  display: inline;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
  margin: 0 20px;
}

/*========================================
*
*     Hero Image Section
*
*
*=========================================*/

.hero-image-section {
  background-image: url('../images/hero-image.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}

/*========================================
*
*     Container
*
*
*=========================================*/

.container {
  margin: 0 auto;
  max-width: 900px;
}

/*========================================
*
*     Band Section
*
*
*=========================================*/
.band-section {
  padding: 65px 0;
}

.band-section h1 {
  font-size: 40px;
  text-align: center;
}

.band-members {
  text-align: center;
}

.members {
  width: 250px;
  display: inline-block;
}

.members img {
  width: 210px;
}

/*========================================
*
*     Home Section Break
*
*
*=========================================*/
.section-break {
  background: url('../images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  padding: 500px 0;
}

/*========================================
*
*     Tour Section
*
*
*=========================================*/
.tour {
  padding: 100px 0;
}

.city {
  width: 250px;
  display: inline-block;
  margin-top: 30px;
  padding: 35px 20px;
}

.city img {
  width: 250px;
  border: 1px solid black;
}

.city a {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 3px;
}

.city:nth-child(even){
  background: #f2f2f2;
}

/*========================================
*
*     Home Section Bottom Break
*
*
*=========================================*/
.section-break-bottom {
  background: url('../images/background-lower.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  padding: 500px 0;
}

/*========================================
*
*     Contact Section
*
*
*=========================================*/
.contact-section {
  padding: 100px 0;
  width: 630px;
  margin: 0 auto;
}

.foo-contact {
  margin: 20px 0px;
}

.foo-contact div {
  margin-bottom: 10px;
}

.label_input_wrap {
  vertical-align: top;
  display: block;
}

.foo-contact input,
.foo-contact textarea {
  border: 1px solid black;
  padding: 9px 11px;
}

.submit input {
  background: #333;
  color: white;
  font-family: "Comfortaa", sans-serif;
  border: none;
  border-radius: 3px;
}

/*========================================
*
*     Footer Section
*
*
*=========================================*/
footer {
  background: #333;
  padding: 10px 30px;
  text-align: right;
}

footer img {
  width: 40px;
}
